.contain{
    width: 94%;
}
.w-96{
    width: 96%;
}

.wper23{
    width: 23%;
}
.wper15{
    width: 15%;
}
.wper31{
    width: 31%;
}
.wper13{
    width: 13%;
}
.wper10
{
    width: 10%;
}
.wper3{
    width: 3.5%;
}